# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environments
venv/

# Ignore log files
*.log

# Ignore configuration files
config/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.swp
